<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    {% include 'rent_app/common/common_css.html' %}
<style>
.flex-box{
        display:flex;
        background-color:rgb(168, 161, 161);
        width:80%;
        height:auto;
        flex-direction: column;
        padding:30px;
        margin:auto;
        justify-content: center;
      }

</style>
</head>
<body>
    <div class="main-div">
    <!-- header code include here -->
    {% include 'rent_app/owner/owner_header.html'%}
    <div>
      <h1 style="margin-top: 80px;background-color: gray;font-family: Georgia;text-align: center;"> Inventory_Management</h1>

    <div class="flex-box">
    <form method="post" action="/manage_inventory_post/" enctype="multipart/form-data"> 
    {% csrf_token%}

<div class="input-group mb-3">
  <span class="input-group-text"><i class="fa-solid fa-mobile-button"></i> Phone</span>
  <input type="phone" class="form-control" placeholder="phone" name="phone" value="{{product_key.user_phone}}">
</div>
<div class="input-group mb-3">
    <span class="input-group-text"><i class="fa-solid fa-bell"></i>Duration</span>
    <input type="text" class="form-control" placeholder="duration" name="duration" value="{{product_key.duration}}">
</div>
<div class="input-group mb-3">
  <span class="input-group-text"><i class="fa-solid fa-calendar"></i>Rented Date</span>
  <input type="text" class="form-control" placeholder="Rented Date" name="rented_date" readonly value="{{product_key.rented_date}}">
</div>
<div class="form-floating mb-3">
  <span class="input-group-text"><i class="fa-solid fa-address-card"></i>Insert Youe Id Proof</span>
  <input type="file" class="form-control" name="id_proof" value="{{product_key.id_proof}}" placeholder="file">
</div> 
<div class="form-floating mb-3">
    <span class="input-group-text">Return Date</span>
  <input type="date" class="form-control" name="return_date" placeholder="Return Date">
</div>
<div class="text-center mt-2">
<button class="btn btn-secondary mx-auto"><i class="fas fa-lock"> Submit </i></button>
</div>
    </form>
    </div>
    </div>
    <!-- FOOTER (optional) -->
    {% include 'rent_app/common/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>